html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif;
}

body {
  font-family: system-ui;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}
