.containerCards {
    background: #0f1316;
    cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39,
      auto;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background: #0f1316;
      flex-direction: column;
  }

  .containerHome {
    background: #0f1316;
    cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39,
      auto;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    color: white;
  }

  .deck {
    position: absolute;
    width: 300px;
    height: 200px;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: none;
  }
  
  .deck > div {
    background-color: white;
    width: 55vh;
    max-width: 260px;
    height: 85vh;
    max-height: 440px;
    will-change: transform;
    border-radius: 10px;
    box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.2), 0 10px 10px -10px rgba(50, 50, 73, 0.1);
    overflow: hidden;
  }

  .img {
    width: 100%;
    height: 65%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #191825;
  }

  .title {
    font-size: 20px;
    padding: 5px 15px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    color: white;
    font-family: 'Lobster', cursive;
  }

  .desc {
    font-size: 14px;
    font-weight: 400;
  }

  .homeTitle {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    color: white;
  }

  .homeDesc {
    font-size: 14px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-top: 50px;
  }

  .trailsText {
    position: relative;
    width: 100%;
    height: 90px;
    line-height: 80px;
    color: white;
    font-size: 5em;
    font-weight: 800;
    letter-spacing: -0.05em;
    will-change: transform, opacity;
    overflow: hidden;
  }
  
  .trailsText > div {
    padding-right: 0.05em;
    overflow: hidden;
  }
  
  .container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    background: #0f1316;
    color: white;
    padding: 1em;
  }
  
  .badge {
    color: antiquewhite;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: crimson;
    border-radius: 10px;
    width: 80vw;
    height: 60px;
    left: 10%;
    bottom: 5%;
    text-align: center;
  }

.ticketHeader {
  width: 80vw;
  height: 150px;
  border-radius: 10px;

  position: relative;
  color: #fff;
  font: 700 2rem 'Montserrat';
  line-height: 400px;
  text-align: center;
  text-transform: uppercase;
  margin: 50px;
}

.ticketHeader::before,
.ticketHeader::after {
    content: '';
    z-index: 1;
    position: absolute;
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    top: -7px;
    left: -7px;
    border-radius: 8px;
    background: linear-gradient(45deg,
        #ffff00, #ff0055, #ff0000,
        #ff0055, #ff0000, #ffff00
    );
    background-size: 400%;
    animation: border 100s linear infinite;
}

.ticketHeader::after {
  filter: blur(30px);
}

@keyframes border {
  0%, 100% {
      background-position: 0 0;
  }

  50% {
      background-position: 300%;
  }
}

.ticketCard {
  width: 90vw;
  height: 200px;
  background-color: #181f25;
  border-radius: 10px;
  margin-top: 120px;
  border: 1px solid gold;
  padding: 15px 20px;
}

.badgeTicket {
  width: fit-content;
  height: 30px;
  padding: 2px 15px;
  color: black;
  background-color: gold;
  border-radius: 25px;
}



/* -------------------------- */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  @import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700");
  font-family: "Ubuntu", sans-serif;
  background-color: #3f32e5;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #1c1c1c;
  display: flex;
  justify-content: center;
}

.ticketSystem {
  max-width: 385px;
}
.ticketSystem .top {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ticketSystem .top .title {
  font-weight: normal;
  font-size: 1.6em;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 50px;
  color: #fff;
}
.ticketSystem .top .printer {
  width: 90%;
  height: 20px;
  border: 5px solid #fff;
  border-radius: 10px;
  box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.2);
}
.ticketSystem .receiptsWrapper {
  overflow: hidden;
  margin-top: -10px;
  padding-bottom: 10px;
}
.ticketSystem .receipts {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateY(-510px);
  animation-duration: 2.5s;
  animation-delay: 500ms;
  animation-name: print;
  animation-fill-mode: forwards;
}
.ticketSystem .receipts .receipt {
  padding: 25px 30px;
  text-align: left;
  min-height: 200px;
  width: 88%;
  background-color: #fff;
  border-radius: 10px 10px 20px 20px;
  box-shadow: 1px 3px 8px 3px rgba(0, 0, 0, 0.2);
}
.maneLogo {
  width: 70px;
  height: 70px;
}
.ticketSystem .receipts .receipt .route {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}
.ticketSystem .receipts .receipt .route .planeIcon {
  width: 30px;
  height: 30px;
  transform: rotate(90deg);
}
.ticketSystem .receipts .receipt .route h2 {
  font-weight: 300;
  font-size: 1.5em;
  margin-left: 40px;
}
.ticketSystem .receipts .receipt .details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ticketSystem .receipts .receipt .details .item {
  display: flex;
  flex-direction: column;
  min-width: 70px;
}
.ticketSystem .receipts .receipt .details .item span {
  font-size: 0.8em;
  color: rgba(28, 28, 28, 0.7);
  font-weight: 500;
}
.ticketSystem .receipts .receipt .details .item h3 {
  margin-top: 10px;
  margin-bottom: 25px;
}
.ticketSystem .receipts .receipt.qrCode {
  height: 110px;
  min-height: unset;
  position: relative;
  border-radius: 20px 20px 10px 10px;
  display: flex;
  align-items: center;
}
.ticketSystem .receipts .receipt.qrCode::before {
  content: "";
  background: linear-gradient(to right, #fff 50%, #3f32e5 50%);
  background-size: 22px 4px, 100% 4px;
  height: 4px;
  width: 90%;
  display: block;
  left: 0;
  right: 0;
  top: -1px;
  position: absolute;
  margin: auto;
}
.ticketSystem .receipts .receipt.qrCode .qr {
  width: 70px;
  height: 70px;
}
.ticketSystem .receipts .receipt.qrCode .description {
  margin-left: 20px;
}
.ticketSystem .receipts .receipt.qrCode .description h2 {
  margin: 0 0 5px 0;
  font-weight: 500;
  font-size: 18px;
}
.ticketSystem .receipts .receipt.qrCode .description p {
  margin: 0;
  font-weight: 400;
}

@keyframes print {
  0% {
    transform: translateY(-510px);
  }
  35% {
    transform: translateY(-395px);
  }
  70% {
    transform: translateY(-140px);
  }
  100% {
    transform: translateY(0);
  }
}